</br></br></br></br>
<center>
  <h2> Business Analyst Login</h2>
</center>

<div id="login__wrapper">
  <form action="/loginAttempt" method="post">
    <div class="form__group">
      <input type="email" id="ba_email" class="form__field" placeholder="Email" name="ba_email">
      <label for="email" class="form__label">Email</label>
    </div>

    <div class="form__group">
      <input type="password" id="password" class="form__field" placeholder="Password" name="ba_password">
      <label for="email" class="form__label">Password</label>
    </div>
    <input id="login-submit" class="submit_button shadow" type="submit" value="Login">
  </form>
</div>