<!--
<div id='loginOuterDiv'>
  <div id='loginFormDiv'>
    <form action="/loginAttempt" method="post">

      <label for="login">Login: </label>
        </br>

      <input id="login" class="input_box" type="text" name="login" >
        </br>

      <label for="password">Password: </label>
        </br>

      <input id="password" class="input_box" type="password" name="password">
        </br>


      <input id="login-submit" class="submit_button shadow" type="submit" value="Login">
    </form>
  </div>

  <a href="/registrationForm"> 
<button class='submit_button shadow'>Register</button>
</a>
</div>-->

    <center>
    <h2> Instructor Schedule Access</h2>
        </center>
<div id="login__wrapper">
<div class="form__group">
  <input type="email" id="email" class="form__field" placeholder="Email">
  <label for="email" class="form__label">Enter your LearningHub Email</label>
</div>
</div>

</br></br></br></br>
<center>
<h2> Business Analyst Login</h2>
</center>

<div id="login__wrapper">
<div class="form__group">
  <input type="email" id="ba_email" class="form__field" placeholder="Email">
  <label for="email" class="form__label">Email</label>
</div>

<div class="form__group">
  <input type="password" id="password" class="form__field" placeholder="Password">
  <label for="email" class="form__label">Password</label>
</div>
</div>