<div id="sidebar">
    <a href="/inputs/course_session">Classroom Session</a>
    <br>
    <br>
    
    <a href="/inputs/instructor_to_session">Assign an Instructor to a Classroom Session</a>
    <br>

    
    <a href="/inputs/learners_into_courses">Assign a Learner to a Classroom Session</a>
    <br>


    <a style="font-weight:bold; color:#0c5aa8" href="/inputs/KLR_with_Name_of_Sessions">Assign a KLR to a Course Type</a>
    <br>

    <a href="/inputs/KLR_with_Instructors">Assign a KLR to an Instructor</a>
    <br>
    <br>

    <a href="/inputs/new_learner">Learners</a>
    <br>

    <a href="/inputs/siteClassroom">Classrooms</a>
    <br>

    <a href="/inputs/newSessionName">Course Type</a>
    <br>

    <a href="/inputs/newKLR">KLRs</a>
    <br>
    <br>

    <a href="/inputs/instructor">Instructors</a>
    <br>

    <a href="/inputs/KLR_with_Instructors">Assign KLR to instructor
    <br>

    <a href="/inputs/instructor_vacations">Instructor Vacations</a>
    <br>

    <a href="/inputs/instructor_leaves">Instructor Leaves</a>
    <br>

    <a href="/inputs/instructor_office_days">Instructor Office Days</a>
    <br>
    <br>

    <a href="/inputs/show_instructors_on_day">Search Instructors by day </a>
    <br>
</div>