<!DOCTYPE html>
<html>

<head>
    <title> CST Course Scheduler 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>

      <a href="/inputs/course_session">Create a classroom Course Session</a>
      <br/>
      <a href="/inputs/examplelink">whatever</a>
      <br/>
      <a href="/yourlinkhere">aother</a>
      <br/>
      <a href="/yourlinkhere">input page</a>


</body>

</html>