<!DOCTYPE html>
<html>

<head>
    <title> CST Course Scheduler 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>

    {{#if databaseError}}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        DATABASE ERROR. Previous data input was not saved to the server. Please confirm the data was not saved and add
        it again.
    </div>

    {{/if}}

    {{#if databaseConfirmation}}
    <div class="db_confirm_alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Data input stored in the database. 
    </div>

    {{/if}}

    <div id="login__wrapper">
        <div class="form__group">

            <a href="/inputs/course_session">Create a classroom Course Session</a>
            <br />

        </div>
    </div>


    <div id="login__wrapper">
        <div class="form__group">
            <a href="/inputs/instructor_to_session">Assign an Instructor to a Learning Session</a>

            <br />

            <a href="/inputs/learners_into_courses">Assign a Learner to a Course</a>
            <hr />

            <a href="/inputs/KLR_with_Name_of_Sessions">Assign a required KLR to a Course Type</a>
            <br />
            <a href="/inputs/KLR_with_Instructors">Assign a teachable KLR to an instructors qualifications</a>
            <br />


        </div>
    </div>


    <div id="login__wrapper">
        <div class="form__group">
            <a href="/inputs/new_learner">Add a New Learner </a>
            <hr />

            <a href="/inputs/instructor">Add a New instructor</a>



        </div>
    </div>

    
    <div id="login__wrapper">
        <div class="form__group">
            <a href="/inputs/inserts_site">Add a New Site </a>
            <hr />

            <a href="/inputs/siteClassroom">Add a new classroom </a>

            <hr />
            <a href="/inputs/newSessionName">Add a Course Category Type</a>

            <hr />
            <a href="/inputs/newKLR">Add a New KLR ID (A specific learning module, which can be taken/earned
                during a course)</a>

        </div>
    </div>

</body>

</html>