<!DOCTYPE html>
<html>

<head>
    <title> CST Course Scheduler 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <a href="/inputs/course_session">Create a classroom Course Session</a>
    <br />
    <a href="/inputs/newSessionName">Add a Session Category name</a>
    <br />
    <a href="/inputs/newKLR">Add a new KLR ID</a>
    <br />
    <a href="/inputs/inserts_site">Insert Site</a>
    <br />
    <a href="/inputs/KLR_with_Name_of_Sessions">KLR with Name of Sessions</a>
    <br />
    <a href="/inputs/KLR_with_Instructors">KLR with Instructors</a>
    <br />
    <a href="/inputs/instructor_to_session">Instructor with Sessions</a>

</body>

</html>