<!DOCTYPE html>
<html>

<head>
    <title> CST Course Scheduler 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        height: 100%;
        }

    td, th {
        border: 1px solid #aceba4;
        text-align: center;
        }

    tr:nth-child(odd) {
        background-color: #b69fb6;
        }
    </style>
</head>

<body style="height:100%;overflow:auto;">
<table>
    <tr>

    {{#if databaseError}}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        DATABASE ERROR. Previous data input was not saved to the server. Please confirm the data was not saved and add
        it again.
    </div>

    {{/if}}

    {{#if databaseConfirmation}}
    <div class="db_confirm_alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        Data input stored in the database. 
    </div>

    {{/if}}

    <td id="login__wrapper">
        <div class="form__group">

            <a href="/inputs/course_session">Create a classroom Course Session</a>
            <hr />

        </div>
    </td>


    <td id="login__wrapper">
        <div class="form__group">
            <a href="/inputs/instructor_to_session">Assign an Instructor to a Learning Session</a>

            <hr />

            <a href="/inputs/learners_into_courses">Assign a Learner to a Course</a>
            <hr />

            <a href="/inputs/KLR_with_Name_of_Sessions">Assign a required KLR to a Course Type</a>
            <hr />
            <a href="/inputs/KLR_with_Instructors">Assign a teachable KLR to an instructors qualifications</a>
            <hr />


        </div>
    </td>


    <td id="login__wrapper">
        <div class="form__group">
            <a href="/inputs/new_learner">Add a New Learner </a>
            <hr />

            <a href="/inputs/instructor">Add a New instructor</a>
            <hr/>
            <a href="/inputs/instructor_office_days">Add a New instructor office days</a>
            <hr/>
            <a href="/inputs/instructor_vacations">Add a New instructor vacation</a>
            <hr/>
            <a href="/inputs/instructor_leaves">Add a New instructor leaves</a>
            <hr />

        </div>
    </td>

    <td id="login__wrapper">
    <div class="form__group">
        <a href="/inputs/show_instructors_on_day">Search Instructors by day </a>
        <hr />
    </div>
    </td>

    <div>
        <img src="/image/ba_admin_page.jpg"; width="100%" />
    </div>
    
</table>

</body>

</html>