<!DOCTYPE html>
<html>

<head>
    <title> CST Course Scheduler 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body onbeforeunload="return">

    <img style="position: absolute; height: 102px; width: 250px;" src="/imgs/cst_logo.png" alt="CST Logo">

    <center>
    <div>
        <h1> CST Course Scheduler </h1>
        <h1>Dev link for convenience</h1>

        {{!-- {{#if loggedIn}} --}}
        <a href="/ba_admin">Business Analyst Administration Inputs</a>
        <div>
            <h1> CST Course Scheduler </h1>
        </div>
        {{!-- {{/if}} --}}
    </center>
    <center>
        <h2> Instructor Schedule Access</h2>
    </center>

    <div style="display: inline-block" id="login__wrapper">
        <div class="form__group">
            <form action="/instructor_schedule" method="post">
            <select name="Instructors">
                {{#each instructor_list}}
                    <option value={{this.instructorID}}>{{this.instructorLastName}}, {{this.instructorFirstName}}</option>
                {{/each}}

            </select>    
            <input id="login-submit" class="submit_button shadow" type="submit" value="View Schedule">
            </form>
        </div>
    </div>

    {{#unless loggedIn}}
    {{> loginForm }}
    {{/unless}}
    {{#if loggedIn}}
    <center>
        <a href="/logout"><button class='submit_button shadow'>Log Out</button></a>
    </center>
    {{/if}}


    <center>
    <div>
        <h1>Dev link for convenience</h1>

        <a href="/ba_admin">Business Analyst Administration Inputs</a>
        <div>
        </div>
    </center>

    <center>
        <h2> Instructor Schedule Access</h2>
    </center>
</body>

</html>