<!DOCTYPE html>
<html>

<head>
    <title> CST Course Scheduler 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
th, td {
    text-align: center;
    padding: 5px;
}
tr:nth-child(odd) {}
</style>
<body onbeforeunload="return" onload=display_ct();>
    <img style="position: absolute; height: 102px; width: 250px; z-index: 1000;" src="/image/cst_logo.png" alt="CST Logo">
<table>
    <tr>
        <td>
        <center>
        <div>
            <br>
            <br>
            <h1 style="margin-right:5vw;font-size:40px;font-weight:200;"> CST Course Scheduler </h1>
        </center>
        </td>
    </tr>
</table>
<table>
    {{!-- <tr background="/image/home_page.jpg"> --}}
    <tr >
    <td>
            {{#if loggedIn}}
        <a href="/ba_admin">
        {{/if}}
        <div id="admin_panel"></div><div id="inside_panel"><h2 style="top:40%;position:relative;color:white;font-size:40px;font-weight:100;">{{#if loggedIn}}Admin Panel{{/if}}</h2></div>{{#if loggedIn}}</a> {{/if}}
        </td>
        <td style="position:absolute;top:5.5%;right:0;">
        <center>
        </center>

        <div id="date_time_display">
            <h2>Date/Time</h2> <p><span id="datetime"></span></p>
        </div>

        <div id="login__wrapper" style="width:300px;">
            <h2>Instructor Schedule Access</h2>
            <div class="form__group">
                <form action="/instructor_schedule" method="post">
                <select name="Instructors">
                    {{#each instructor_list}}
                        <option value={{this.instructorID}}>{{this.instructorLastName}}, {{this.instructorFirstName}}</option>
                    {{/each}}

                </select>    
                <input id="login-submit" class="submit_button shadow" type="submit" value="View Schedule">
                </form>
            </div>
        </div>

        {{#unless loggedIn}}
        {{> loginForm }}
        {{/unless}}
        {{#if loggedIn}}
        <center>
             <a href="/ba_admin"><button class='submit_button shadow'>View Admin Panel</button></a>
            <a href="/logout"><button class='submit_button shadow'>Log Out</button></a>
        </center>
        {{/if}}
        </td>
    </tr>
</table>


<script src="/javascript/input_forms.js"></script>
</body>

</html>