<!DOCTYPE html>
<html>

<head>
    <title> CST Course Scheduler 4 </title>
    <link href="/css/home.css" rel="stylesheet" type="text/css" />
</head>

<body onbeforeunload="return">


    <center>
<<<<<<< HEAD
        <h1>Dev link for  convenience</h1>
         <a href="/basic.html">Scheduler test</a>
    <div>
        <h1> CST Course Scheduler </h1>
=======
        <h1>Dev link for convenience</h1>

        <a href="/ba_admin">Business Analyst Administration Inputs</a>
        <div>
            <h1> CST Course Scheduler </h1>
        </div>
    </center>

    <center>
        <h2> Instructor Schedule Access</h2>
    </center>

    <div id="login__wrapper">
        <div class="form__group">
            <form action="/instructor_schedule" method="post">
            <select name="Instructors">
                {{#each instructor_list}}
                    <option value="{{this.instructorLastName}}, {{this.instructorFirstName}}">{{this.instructorLastName}}, {{this.instructorFirstName}}</option>
                {{/each}}

            </select>    
            <input id="login-submit" class="submit_button shadow" type="submit" value="View Schedule">
            </form>
        </div>
>>>>>>> 66dde018df95f2105f7d1253e13178aa03ab8a6c
    </div>

    {{#unless loggedIn}}
    {{> loginForm }}
    {{/unless}}
    {{#if loggedIn}}
    <center>
        <a href="/logout"><button class='submit_button shadow'>Log Out</button></a>
    </center>
    {{/if}}
</body>

</html>