@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #F3F2EE;
    background-size:contain;
    margin-left: 9.5%;
    margin-right: 9.5%;
}

html {
    font-family: "arial", sans-serif;
    color: #444;
    margin: 0px;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

label,
.form__field:focus~.form__label {
    position: absolute;
    top: 0px;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}

.form__field:focus~.form__label {
    color: #009788;
}

.form__field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #009788;
}

#loginFormDiv {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
#td__wrapper {
    text-align: center;
    height: auto;
}


#ba_damin_pic {
    height: 54vh;
    width:100%;
}
#login__wrapper {
    text-align: center;
    margin: auto;
    width: 25%;
    height: auto;
    border: 1px solid lightgray;
    padding: 10px;

}

#login__wrapper:hover {
    background-color: #F3F2EE;
    box-shadow: 5px 10px 18px #888888;
    padding: 5%;
    transition:0.3s;
    margin-bottom: 10px;
}

#login-submit {
    margin: 25px;
}
#addDataBox {
    background-image: url("/image/addDataBox.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

/*rgba(0, 0, 0, 0.3)*/


/* The alert message box */

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.db_confirm_alert {
    padding: 20px;
    background-color: #7CFC00;
    color: black;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

table {
    border-collapse: collapse;
    width: 50%;
    }

    th, td {
    text-align: left;
    padding: 8px;
    height: 42vh;
    }

    tr:nth-child(even){background-color: #f2f2f2;}

    th {
    background-color: #4CAF50;
    color: white;
    }

a:link {
    color: rgb(38, 38, 233);
    text-decoration: unset;
    }

  /* visited link */
a:visited {
    color: rgb(106, 20, 117);
    }

  /* mouse over link */
a:hover {
    color: red;
    background: #009788;   
    }

  /* selected link */
a:active {
    color: yellow;
    } 