@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #F3F2EE;
    margin-left: 9.5%;
    margin-right: 9.5%;
    margin-top:3%;
}

html {
    font-family: "arial", sans-serif;
    color: #444;
    margin: 0px;
}


.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d2d2d2;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

label,
.form__field:focus~.form__label {
    position: absolute;
    top: 0px;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #9b9b9b;
}

.form__field:focus~.form__label {
    color: #009788;
}

.form__field:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid #009788;
}

#loginFormDiv {
    background-attachment: fixed;
    width: 100%;
}
#td__wrapper {
    text-align: center;
    height: auto;
}


#ba_damin_pic {
    height: 54vh;
    width:100%;
}

#login__wrapper {
    text-align: center;
    width: 25%;
    margin: auto;
    height: auto;
    border: 1px solid lightgray;
    background-color: #F3F2EE;
    box-shadow: 6px 6px 9px -7px rgba(0,0,0,0.75);
    padding: 5%;
    transition:0.3s;
    margin-bottom: 10px;
}

#login-submit {
}

#addDataBox {
}

/*rgba(0, 0, 0, 0.3)*/


/* The alert message box */

.alert {
    padding: 20px;
    position: absolute;
    width: 78.5%;
    top:0px;
    background-color: #f44336;
    color: white;
    z-index:1;
    transition: 1s;
}

.db_confirm_alert {
    position: absolute;
    width: 78.5%;
    top:0px;
    padding: 20px;
    background-color: #7CFC00;
    color: black;
    z-index:1;
    transition: 1s;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
#ba_damin_table{
    top:49.5vh;
    position: relative;
    text-align: left;
    height: 100%;
    width: 100%;
}
#ba_damin_td {
    position: relative;
    vertical-align: middle;
    border-collapse: collapse;
    height: 42.5vh;
}

/* table styling */
table {
    border-collapse: collapse;
    width: 50%;
    }

    th, td {
        vertical-align: top;
        text-align:center;
        border-collapse: collapse;
        width: 46vw;
        height: 46vh;
        }


    th {

    color: white;
    }



    #instructor_on_day {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        position: absolute;
        left:30vw;
      }
      
    #instructor_on_day td, #instructor_on_day th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 10px;
    }
    
    #instructor_on_day tr:nth-child(even){background-color: #f2f2f2;}
    #instructor_on_day tr:nth-child(odd){background-color: #ffffff;}
    
    #instructor_on_day tr:hover {background-color: #ddd;}
    
    #instructor_on_day th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    }

a:link {
    color: #777;
    text-decoration: unset;
    }

  /* visited link */
a:visited {
    color:#0c5aa8;
    }

  /* mouse over link */
a:hover {
    color: #6794c2;  
    }

  /* selected link */
a:active {
    color: #072d53;
    } 

.container_ba_admin {
    top:5px;
    position: absolute;
    text-align: left;
    height: auto;
    margin-right: 9.5%;
}
.text_on_pic {
    position: absolute;
    top: 3vw;
    left: 1vw;
    font-size:35px;
    text-align: center;
    font-stretch: extra-condensed;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
blink {
    -webkit-animation: 1.5s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { 
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        visibility: visible;
    }
}
#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom:0;
    font-weight: lighter;
    line-height: 1.6;
    text-overflow: ellipsis;
    padding: 25px;
    box-shadow: 6px 6px 9px -7px rgba(0,0,0,0.75);
    background-color: #F3F2EE;
}

#sidebar a {
    color: #777;
}

select {
    width:100%; 
    height:34px;
}

.submit_button.shadow {
  background-color: rgb(0,70,133); /* Green */
  border: none;
  color: white;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.submit_button.shadow:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#date_time_display {
    position: absolute;
    border: 1px solid lightgray;
    top:5px;
    right: 6.5vw;
    padding: 5px;
    height: 15vh;
    width: 23.5vw;
    font-size: 20px;
    font-weight:100;
    color: #444;
    text-align: center;
    display: inline-block;
    background-size: contain;
    box-shadow: 6px 6px 9px -7px rgba(0,0,0,0.75);
}


#admin_panel:hover {
    filter: brightness(50%);
}

#admin_panel {
    box-shadow: 6px 6px 9px -7px rgba(0,0,0,0.75);
    background-image: url("/image/home_bg.png");
    background-size: cover;
    height: 50vh;
    width: 55vw;
    position:absolute;
    top:42%;
    text-align:center;
    vertical-align: center;
    z-index:10;
    display:block;
    filter:brightness(75%);
}

#inside_panel {
    height: 50vh;
    width: 55vw;
    position:absolute;
    top:42%;
    text-align:center;
    z-index:11;
    display:block;
}

#inside_panel:hover{
    background-color: rgba(50,50,50,0.3);
}

#admin_link {
    display: none;
}

#instructor_on_day {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 50%;
        position: absolute;
        left:30vw;
      }
      
    #instructor_on_day td, #instructor_on_day th {
    border: 1px solid #ddd;
    padding: 8px;
    height: 10px;
    }
    
    #instructor_on_day tr:nth-child(even){background-color: #f2f2f2;}
    #instructor_on_day tr:nth-child(odd){background-color: #ffffff;}
    
    #instructor_on_day tr:hover {background-color: #ddd;}
    
    #instructor_on_day th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    }