<!DOCTYPE html>
<header>
    <title> Insert Site</title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  {{> sidebar }}
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/addSite" method="post">

        <div id="login__wrapper">
            <h2>Add Learning Site</h2>


          <div class="form__group">  
        <input id="site" class="form__field" type="text" name="site" placeholder="Site Name">
        <label for="site" class="form__label">Site Name</label>
        </div>
        
        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>
    </div>
  </div>
</body>