<!DOCTYPE html>
<header>
    <title> Instructor with Session </title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/insertData" method="post">

        <div id="login__wrapper">
            <h2>Instructor with Session</h2>
          <div class="form__group">  
        <input id="instructor" class="form__field" type="text" name="instructor" placeholder="Enter Instructor">
        <label for="instructor" class="form__label">Enter Instructor Name</label>
        </div>
        
        <div class="form__group">  
        <input id="classroom" class="form__field" type="text" name="session" placeholder="Enter Session Name">
        <label for="classroom" class="form__label">Enter Session Number</label>
        </div>
        <br>
        
        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>
    <a href="/registrationForm"> 
      <button class='submit_button shadow'>Cancel</button>
    </a>
    </div>
  </div>
</body>