<!DOCTYPE html>
<header>
    <title> KLR with Instructors </title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/addKLR_with_instructors" method="post">

        <div id="login__wrapper">
            <h2>KLR with Instructors</h2>
            <br>
            <br>
        <div class="form__group">          
        <input id="instructor" class="form__field" type="text" name="instructor" placeholder="Enter Instructor">
        <label for="instructor" class="form__label">Enter Instructor Name</label>
        </div>
        <div>Input instructor name to saerch</div>
        <br>
        <br>
        <br>
        <div class="form__group">  
            <input id="KLR" class="form__field" type="text" name="KLR" placeholder="Enter KLR Name">
            <label for="KLR" class="form__label">Enter KLR Name</label>
        </div>
        <div>Input KLR name to saerch</div>
        

        <br>
        
        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>
    <a href="/registrationForm"> 
      <button class='submit_button shadow'>Cancel</button>
    </a>
    </div>
  </div>
</body>