<!DOCTYPE html>
<header>
    <title> Assign Learner into Courses </title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/insertData" method="post">

        <div id="login__wrapper">
            <h2>Assign Learner into Courses</h2>

            <div class="form__group">
                <input id="Pemail" class="form__field" type="text" name="Pemail" placeholder="Primary E-mail">
                <label for="Pemail" class="form__label">Learner's Primary E-mail</label>
            </div>
        </div>
        <div id="login__wrapper">

            <div class="form__group">
                <input id="New Course" class="form__field" type="text" name="Pemail" placeholder="Primary E-mail">
                <label for="New Course" class="form__label">Add New Course</label>
            </div>
        <br>
        
        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>
      <a href="/registrationForm"> 
        <button class='submit_button shadow'>Cancel</button>
      </a>
      </div>
    </div>
  </div>
</body>