<!DOCTYPE html>
<header>
    <title> Learners </title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/insertData" method="post">

        <div id="login__wrapper">
            <h2>Learners</h2>
            <div class="form__group">
                <input id="LName" class="form__field" type="text" name="LName" placeholder="Last Name">
                <label for="LName" class="form__label">Last Name</label>
            </div>

            <div class="form__group">
                <input id="FName" class="form__field" type="text" name="FName" placeholder="First Name">
                <label for="FName" class="form__label">First Name</label>
            </div>

            <div class="form__group">
                <input id="Pemail" class="form__field" type="text" name="Pemail" placeholder="Primary E-mail">
                <label for="Pemail" class="form__label">Primary E-mail</label>
            </div>

            <div class="form__group">
                <input id="Semail" class="form__field" type="text" name="Semail" placeholder="Primary E-mail">
                <label for="Semail" class="form__label">Other E-mail (*optional)</label>
            </div>

            <div class="form__group">
                <input id="Role" class="form__field" type="text" name="Role" placeholder="Role">
                <label for="Role" class="form__label">Role</label>
            </div>


            <div class="form__group">
                <textarea id="comments" class="form__field" rows="5" name="comments" placeholder="Additional Comments"></textarea>
                <label for="comments" class="form__label">Additional Comments </label>
            </div>
            <br>
        
        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>
    <a href="/registrationForm"> 
      <button class='submit_button shadow'>Cancel</button>
    </a>
    </div>
  </div>
</body>