<!DOCTYPE html>
<header>
    <title> Add a new KLR</title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>
      <form action="/addKLR" method="post">

        <div id="login__wrapper">
            <h2>Add KLR</h2>


          <div class="form__group">  
        <input id="newKLR" class="form__field" type="text" name="newKLR" placeholder="KLR ID">
        <label for="newKLR" class="form__label">KLR ID</label>
        </div>
        
        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>
    </div>
  </div>
</body>