<!DOCTYPE html>
<header>
    <title> Add a New Session Category Name</title>
    <link href = '/css/home.css' rel="stylesheet" type="text/css"/>
</header>

<body>
  <div id='addDataBox'>
    <div id='loginFormDiv'>

      <form method="post">
        <div id="login__wrapper">
        <h2>Edit or Delete Course Category Name</h2>

        <div class="form__group">
        <select name="courseTypeID">
          
          {{#each courseTypes}}
          <option value={{this.courseTypeID}}>{{this.Type}}</option>
          {{/each}}

          <input type="text" name="Type" placeholder="New Course Type Name">


        </select>
    </div>
    <input id="login-submit" class="submit_button shadow" type="submit" value="Edit" formaction="/editCourseType">
    <input id="login-submit" class="submit_button shadow" type="submit" value="Delete" formaction="/deleteCourseType">
    </form>
  </div>


      <form action="/addCourseType" method="post">

        <div id="login__wrapper">
            <h2>Add a New Course Category Name</h2>


          <div class="form__group">  
        <input id="Type" class="form__field" type="text" name="Type" placeholder="Session Category Name">
        <label for="Type" class="form__label">Session Category Name/Type</label>
        </div>
        
        <input id="login-submit" class="submit_button shadow" type="submit" value="Submit">
      </form>



    </div>
  </div>
</body>